{%- style -%}
  #shopify-section-{{ section.id }} {
    z-index: 3;
    position: sticky;
    top: 0;
    width: 100%;
  }
  
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }
  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
  
  .sw-menu {
    background-color: rgba(var(--color-background), 0.8);
    backdrop-filter: blur(5px);
  }
  .sw-menu--product-submenu > ul {
    display: flex;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

  .sw-menu--first {
    flex-grow: 0;
  }
  .sw-menu--middle {
    flex-grow: 1;
    align-self: end;
  }
  .sw-menu--middle-desktop {
    display: none;
  }

  .sw-menu--mobile-drawer {
    padding-top: 2rem;
  }
  .sw-menu--mobile-drawer {
    position: absolute;
    left: 0;
    top: 100%;
    width: 100vw;
    height: 100vh;
    z-index: 4;
    overflow-x: hidden;
  }
  .sw-menu--middle-mobile details[open] .modal__toggle-open {
    display: none;
  }
  .sw-menu--middle-mobile details[open] .modal__toggle-close {
    display: block;
  }
  details[open] .sw-menu--mobile-drawer .sw-menu--blurbkg-temp {
    content: "";
    /* top: 0; */
    /* left: 0; */
    width: 100vw;
    height: 100vh;
    display: block;
    /* position: absolute; */
    /* z-index: -1; */
    backdrop-filter: blur(5px);
  }

  /* .sw-menu--middle-mobile details[open]>.sw-menu--mobile-drawer {
    transition: transform var(--duration-default) ease,visibility var(--duration-default) ease;
  } */

  .sw-menu--middle-mobile summary {
    /* height: 4.4rem;
    width: 4.4rem; */
    display: block;
    padding: 0;
  }
  .sw-menu--middle-mobile summary span {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .sw-menu--middle-mobile .icon {
    height: 2rem;
    width: 2rem;
    fill: none;
    vertical-align: middle;
  }

  .sw-menu--product-submenu .link--text {
    transition: text-decoration var(--duration-short) ease;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  .sw-menu__active-menu-item {
    transition: text-decoration-thickness var(--duration-short) ease;
    text-decoration: underline;
    text-underline-offset: 1rem;
    text-decoration-color: rgb(var(--color-base-accent-2));
  }
  .sw-menu__active-menu-item:hover {
    text-decoration-thickness: auto;
    text-decoration: underline !important;
    text-underline-offset: 1rem;
    text-decoration-color: rgb(var(--color-base-accent-2)) !important;
    color: rgba(var(--color-foreground),.75);
  }
  .sw-menu--product-submenu .link--text {
    text-decoration: none;
    justify-content: center;
  }
  .sw-menu--product-submenu .link--text:hover span {
    text-decoration: none;
  }
  .sw-menu--product-submenu .sw-menu--first .link {
    text-decoration: none;
    font-size: 1.5rem;
    color: rgb(var(--color-foreground));
  }
  .sw-menu--product-submenu .button {
    min-height: calc(2rem + var(--buttons-border-width) * 2);
    padding: 2px .8rem;
    font-size: 1.1rem;
    --color-button: var(--color-background);
    --alpha-button-background: 0.2;
  }
  .sw-menu--product-submenu .button::after {
    box-shadow: 0 0 0 1px rgba(var(--color-button-text),var(--border-opacity)),0 0 0 var(--buttons-border-width) rgba(var(--color-button),var(--alpha-button-background));
  }

  .sw-menu--mobile-submenu {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  .sw-menu--mobile-submenu > li {
    width: 100%;
  }
  .sw-menu--mobile-submenu .link--text {
    display: flex;
  }

  .sw-menu--buynow {
    padding-right: 1rem;
  }

  @media screen and (max-width: 390px) {
    .sw-menu--middle {
      order: 99;
      width: 100%;
    }
  }
  @media screen and (min-width: 750px) {
    .sw-menu--product-submenu .sw-menu--first .link {
      font-size: 2.2rem;
    }
    .sw-menu--product-submenu .button {
      min-height: calc(2.7rem + var(--buttons-border-width) * 2);
      padding: 0 1.5rem;
      font-size: 1.4rem;
    }

    .sw-menu--first {
      flex-grow: 1;
    }
    .sw-menu--middle {
      flex-grow: 0;
      align-self: center;
    }
    .sw-menu--buynow {
      padding-left: 1rem;
      padding-right: 0;
    }
    .sw-menu--middle-desktop {
      display: inline;
    }
    .sw-menu--middle-mobile {
      display: none;
    }

  }

{%- endstyle -%}
<div class="sw-menu color-{{ section.settings.color_scheme }} no-heading">
  <div class="page-width section-{{ section.id }}-padding isolate">
      <nav class="sw-menu--{{ section.settings.menu_type }}">
        <ul class="list-menu list-menu--inline" role="list">
          {% assign mainlink = section.settings.menu.links | first %}
          {% if mainlink %}
            <li class="sw-menu--first">
                <a href="{{ mainlink.url }}" class="link"{% if mainlink.current %} aria-current="page"{% endif %}>
                  <span>{{ mainlink.title | escape }}</span>
                </a>
            </li>
          {% endif %}
          <li class="sw-menu--middle">
            <div class="sw-menu--middle-desktop">
              <ul class="list-menu list-menu--inline" role="list">
                {%- for link in section.settings.menu.links -%}
                  {% unless forloop.first == true %}
                  <li>
                      <a href="{{ link.url }}" class="link link--text focus-inset"{% if link.current %} aria-current="page"{% endif %}>
                        <span {%- if link.current %} class="sw-menu__active-menu-item"{% endif %}>{{ link.title | escape }}</span>
                      </a>
                  </li>
                  {% endunless %}
                {%- endfor -%}
              </ul>
            </div>

            <details-modal class="sw-menu--middle-mobile">
              <details class="sw-menu--mobile-container">
                <summary class="link focus-inset modal__toggle" aria-haspopup="dialog">
                  <span>
                    <svg width="24px" height="24px" viewBox="0 0 24 24" class="modal__toggle-open icon icon-search" aria-hidden="true" focusable="false" role="presentation">
                      <g data-name="Layer 2"><g data-name="arrow-ios-downward"><rect width="24" height="24" opacity="0"/>
                        <path fill="currentColor" d="M12 16a1 1 0 0 1-.64-.23l-6-5a1 1 0 1 1 1.28-1.54L12 13.71l5.36-4.32a1 1 0 0 1 1.41.15 1 1 0 0 1-.14 1.46l-6 4.83A1 1 0 0 1 12 16z"/>
                      </g></g>                      
                    </svg>
                    <svg class="modal__toggle-close icon icon-close" aria-hidden="true" focusable="false" role="presentation">
                      <use href="#icon-close">
                    </svg>
                  </span>
                </summary>
                <div class="sw-menu--mobile-drawer gradient motion-reduce" role="dialog" aria-modal="true">
                  <div class="gradient">
                    <ul class="sw-menu--mobile-submenu menu-drawer__menu has-submenu list-menu" role="list">
                      {%- for link in section.settings.menu.links -%}
                        {% unless forloop.first == true %}
                        <li>
                          <a href="{{ link.url }}" class="menu-drawer__menu-item list-menu__item link link--text focus-inset"{% if link.current %} aria-current="page"{% endif %}>
                            <span {%- if link.current %} class="sw-menu__active-menu-item"{% endif %}>{{ link.title | escape }}</span>
                          </a>
                        </li>
                        {% endunless %}
                      {%- endfor -%}
                    </ul>    
                  </div>
                  {% comment %} <div class="sw-menu--blurbkg"></div> {% endcomment %}
                </div>
              </details>
            </details-modal>
          </li>
  
          {%- if section.settings.buynow != blank -%}
            <li class="sw-menu--buynow"><a href="{{ section.settings.buynow.url }}" class="button button--secondary"><span>View Pricing</span></a></li>
          {%- endif -%}
        </ul>
      </nav>
  </div>
</div>

{% schema %}
{
  "name": "-sw- Menu",
  "class": "section",
  "tag": "section",
  "settings": [
    {
      "type": "link_list",
      "id": "menu",
      "default": "main-menu",
      "label": "t:sections.header.settings.menu.label"
    },
    {
      "type": "select",
      "id": "menu_type",
      "options": [
        {
          "value": "product-submenu",
          "label": "Product based Sub-Menu"
        }
      ],
      "default": "product-submenu",
      "label": "t:sections.header.settings.menu_type_desktop.label",
      "info": "t:sections.header.settings.menu_type_desktop.info"
    },
    {
      "type": "select",
      "id": "color_scheme",
      "options": [
        {
          "value": "accent-1",
          "label": "t:sections.all.colors.accent_1.label"
        },
        {
          "value": "accent-2",
          "label": "t:sections.all.colors.accent_2.label"
        },
        {
          "value": "background-1",
          "label": "t:sections.all.colors.background_1.label"
        },
        {
          "value": "background-2",
          "label": "t:sections.all.colors.background_2.label"
        },
        {
          "value": "inverse",
          "label": "t:sections.all.colors.inverse.label"
        }
      ],
      "default": "background-1",
      "label": "t:sections.all.colors.label"
    },
    {
      "type": "header",
      "content": "Buy Now Product"
    },
    {
      "type": "product",
      "id": "buynow",
      "label": "Product",
      "info": "If product is filled out, the buy now button will appear"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 36,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 36,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 0
    }
  ],
  "presets": [
    {
      "name": "-sw- Menu",
      "blocks": []
    }
  ]
}
{% endschema %}
